!pip install cx_oracle

In [1]:
import cx_Oracle

In [2]:
conn = cx_Oracle.connect("c##scott/tiger@XE")

In [3]:
cur = conn.cursor()

In [4]:
cur.execute("select * from dept")

In [5]:
for i in cur:
    print(i)

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [6]:
cur.close()

In [7]:
conn.close()

In [8]:
conn = cx_Oracle.connect("c##scott/tiger@XE")
cur = conn.cursor()
cur.execute("select * from dept")
for i in cur:
    print(i)
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [9]:
conn = cx_Oracle.connect("c##scott/tiger@XE")
cur = conn.cursor()
cur.execute("select * from dept")
print(cur.fetchall())
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [12]:
conn = cx_Oracle.connect("c##scott/tiger@XE")
cur = conn.cursor()
cur.execute("select * from dept")
print(cur.fetchmany(2))
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS')]

In [13]:
conn = cx_Oracle.connect("c##scott/tiger@XE")
cur = conn.cursor()
cur.execute("select * from dept")
print(cur.fetchone())
print(cur.fetchone())
print(cur.fetchone())
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')

In [17]:
conn = cx_Oracle.connect("c##scott/tiger@XE")
cur = conn.cursor()
cur.execute("insert into student values(101,'ajay','django',12000)")
conn.commit()
cur.close()
conn.close()

In [18]:
studentdata = [(102,'ramu','python',7000),(103,'suman','django',12000),(104,'suresh','nodejs',11000)]

In [19]:
import cx_Oracle

In [20]:
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.executemany("insert into student(sid,sname,course,fee) values(:sid,:sname,:course,:fee)",studentdata)
conn.commit()
print("Transaction completed Successfully")
cur.close()
conn.close()

Transaction completed Successfully

Procedure:newstudent
create or replace procedure newstudent
(
i_sid number,
i_sname varchar2,
i_course varchar2,
i_fee number
)
as
begin
insert into student values(i_sid,i_sname,i_course,i_fee);
end;
/

In [21]:
sid = int(input("Enter student id = "))
sname = input("Enter student Name = ")
course = input("Enter student Course = ")
fee = int(input("Enter student Fee = "))
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
cur.callproc("newstudent",(sid,sname,course,fee))
conn.commit()
print("Transaction completed Successfully")
cur.close()
conn.close()

Enter student id = 105
Enter student Name = trilok
Enter student Course = python
Enter student Fee = 35000
Transaction completed Successfully

In [22]:
fname = r"D:/pfiles/students.txt"
fobj = open(fname)
for i in fobj:
    sid,sname,course,fee = i.split(",")[:]
    print(sid,sname,course,fee)
fobj.close()

101 kumar python 5000

102 varma django 12000

103 kiran javascript 4000

104 abdi python 4000

105 ramu PYTHON 5000

106 ravi c++ 6000

107 sujala java script 4000

108 vijay django 12000

109 deepu java 12000

110 saddam Python 12000

111 yagvendra JAVA script 5000

112 saddam graphql 8000

113 raviteja java 12000

114 sujith react 6000

115 trilok graphql 10000

In [ ]:
#loading the file data to database table in oracle

In [23]:
fname = r"D:/pfiles/students.txt"
fobj = open(fname)
conn = cx_Oracle.connect('c##scott/tiger@XE')
cur = conn.cursor()
for i in fobj:
    sid,sname,course,fee = i.split(",")[:]
    cur.callproc("newstudent",(sid,sname,course,fee))
conn.commit()
cur.close()
conn.close()
fobj.close()